.post {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.user {
  display: flex;
  padding: 16px;
  align-items: center;
}

.profile-picture {
  width: 30px;
  height: 30px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-nickname {
  margin-left: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.post-image-bg {
  padding: 5px;
}

.post-image img {
  display: block;
  width: 100%;
}

.post-caption {
  padding: 15px 16px;
}

.post-caption strong {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.fa-regular {
  margin-inline-end: 10px;
  cursor: pointer;
}

.fa-heart:hover {
  color: red;
}

.fa-comment:hover {
    color: grey;
  }

#comment {
    position: fixed;
}
