.post-btn,
.init-post {
  padding: 6px 18px;
}

.footer-btn button,
.main-post-init button {
  border-radius: 30px;
}

.input-area {
  background-color: rgba(238, 238, 238, 0.377);
}

.upload-picture {
  min-width: 100px;
  cursor: pointer;
}

.img-upload {
  padding: 0 30px;
}
