body{
    margin: 0;
}

#root{
    position: relative;
    margin-left: 0px !important;
    margin-right: 0px;
    padding: 0px !important;

    height: 100vw;
}

.left-nav{
    width: 600px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid black;
}

.leftnav-search{
    position: relative;
    top: 14vh;
    background-color: rgba(179, 179, 179, 0.8);
    font-size: 18px;
    padding:  6px 10px;
    padding-left: 50px;
    border-radius: 12px;
    border-width: 0px;
    width: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    cursor: pointer;
}

.search-icon{
    position: absolute;
    top: 14vh;
    font-size: 23px;
    margin-left: 8px;
    border-right: 1px solid rgb(255, 255, 255);
    height: 38px;
    width: 34px;
    color: white;
    z-index: 1;
}