.post {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.user {
  display: flex;
  padding: 16px;
  align-items: center;
}

.profile-picture {
  width: 30px;
  height: 30px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-nickname {
  margin-left: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.post-image-bg {
  padding: 5px;
}

.post-image img {
  display: block;
  width: 100%;
}

.post-caption {
  padding: 15px 16px;
}

.post-caption strong {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.fa-regular {
  margin-inline-end: 10px;
  cursor: pointer;
}

.fa-heart:hover {
  color: red;
}

.fa-comment:hover {
  color: grey;
}

.comments {
  margin: 5px 0 5px;
}

.form-control {
  margin-block-end: 10px !important;
}

#post-prompt {
  width: 60%;
  margin-inline-start: 20%;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item {
  cursor: pointer;
}

.page-link:hover {
  background-color: #5fe0dd !important;
}

.a {
  text-align: center;
}

.a:hover {
  cursor: pointer !important;
}



#new-post-form {
  margin-block-start: 10% !important;
  padding: 40px;
}

#form-container {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

#submit-btn {
  text-align: center;
}

#new-post-btn {
  background-image: linear-gradient(to right,
      #04b7e5,
      #2fc8e5,
      #5fe0dd,
      #90eae7);
  border: none;
}

#new-post-btn:hover {
  color: black;
}

.scrollBar::-webkit-scrollbar {
  display: none;
}